# Case Study: The Beazley Case

# New Section

In [1]:
%load_ext sql
%sql sqlite:///tx_deathrow_small.db
%config SqlMagic.autocommit=False

In [2]:
executions =%sql sqlite:///tx_deathrow_small.db

**Please write your queries below in the empty boxes same as you write in a SQL Window**

Just append **%sql** before your query like this '%sql Select * from executions limit 5;'

In [3]:
%sql Select * from executions Limit 3;

 * sqlite:///tx_deathrow_small.db
Done.

[('Christopher Anthony', 'Young', 553, 34, '2018-07-17', 'Bexar', "l want to make sure the Patel family knows I love them like they love me. Make sure the kids in the world know I'm being executed and those kids I've been mentoring keep this fight going. I'm good Warden."),
 ('Danny Paul', 'Bible', 552, 66, '2018-06-27', 'Harris', None),
 ('Juan Edward', 'Castillo', 551, 37, '2018-05-16', 'Bexar', "To everyone that has been there for me you know who you are. Love y'all. See y'all on the other side.That's it.")]

**About the Dataset and Schema**

In 1994, Napoleon Beazley shot 63-year-old businessman John Luttig in his garage while trying to steal his family’s car. Because he was just shy of 18 years old at the time of the murder, the Beazley case ignited a fierce debate over the death penalty for juvenile offenders. 3 years after Beazley was executed, the Supreme Court prohibited the execution of offenders under 18 at the time of their offense (Roper v Simmons, 2005).

The case was also notable because the victim was the father of a federal judge John Michael Luttig. During the appeals to the Supreme court, three of the nine justices recused themselves because of their personal ties to Judge Luttig, leaving only six to review the case.

Napoleon Beazley made an impassioned last statement arguing that an eye for an eye does not constitute justice. Our task is to retrieve his statement from the database.

The database has one table, executions. To begin with, we'll look at the table. It contains the following columns:

*	Execution
*	Date of Birth
*	Date of Offence
*	Highest Education Level
*	Last Name
*	First Name
*	TDCJ Number
*	Age at Execution
*	Date Received
*	Execution Date
*	Race
*	County
*	Eye Color
*	Weight
*	Height
*	Native County
*	Native State
*	Last Statement

## Recalling Filtering

The WHERE Block
The WHERE block allows us to filter the table for rows that meet certain conditions. Its format is WHERE <clause> and it always goes after the FROM block. Here, a clause refers to a Boolean statement that the computer can evaluate to be true or false like ex_number = 145. You can imagine that the computer will go through each row in the table checking if the clause is true, and if so, return the row

**Find the first and last names and ages (ex_age) of inmates 25 or younger at time of execution? How many are they?**

In [12]:
%sql Select first_name, last_name, ex_age from executions where ex_age <= 25

 * sqlite:///tx_deathrow_small.db
Done.

[('Toronto', 'Patterson', 24),
 ('T.J.', 'Jones', 25),
 ('Napoleon', 'Beazley', 25),
 ('Richard', 'Andrade', 25),
 ('Jay', 'Pinkerton', 24),
 ('Jesse', 'De La Rosa', 24)]

In [13]:
%sql Select count(*) from executions where ex_age <= 25

 * sqlite:///tx_deathrow_small.db
Done.

[(6,)]

**Find the result if some named like Raymond(First Name) Landry(Last Name) was executed? What was his age?**

In [5]:
%sql Select first_name,	last_name,	ex_age from executions where first_name = "Raymond" and last_name = "Landry, Sr."

 * sqlite:///tx_deathrow_small.db
Done.

[('Raymond', 'Landry, Sr.', 39)]

**Find Napoleon Beazley's last statement. What did he say?**

In [6]:
%sql select last_statement from executions where first_name = 'Napoleon' and last_name = 'Beazley'

 * sqlite:///tx_deathrow_small.db
Done.

[('The act I committed to put me here was not just heinous, it was senseless. But the person that committed that act is no longer here - I am. I\'m not  ... (1831 characters truncated) ... o help them find out, but in the system telling them it won\'t matter anyway. No one wins tonight. No one gets closure. No one walks away victorious.',)]

## Possible Innocence

Opponents of the death penalty have argued that the risk of mistakenly executing an innocent person is too great a cost to bear. In this chapter, we attempt to approximate how many innocent people may have been executed.

**Aggregate Functions**

There are two numbers we need to calculate the proportion:

  Numerator: Number of executions with claims of innocence.

  Denominator: Number of executions in total.

Until now, each row in the output has come from a single row of input. However, here we have both the numerator and denominator requiring information from multiple rows of input. This tells us we need to use an aggregate function. To “aggregate” means to combine multiple elements into a whole. Similarly, aggregation functions take multiple rows of data and combine them into one number.

**Find how many inmates provided last statements? And How many declined? Hint: Null Last Statement**

In [7]:
%sql select count (*) from executions where last_statement not null

 * sqlite:///tx_deathrow_small.db
Done.

[(443,)]

**Find the total number of executions where inmates were over the age of 50?**

In [8]:
%sql select count (*) from executions where ex_age > 50

 * sqlite:///tx_deathrow_small.db
Done.

[(68,)]

**Find the average length (based on character count) of last statements in the dataset?**

In [111]:
%sql select avg(length(last_statement)) as AVERAGE FROM executions

 * sqlite:///tx_deathrow_small.db
Done.

[(537.492099322799,)]

**Find the proportion of inmates with claims of innocence in their last statements? Hint use Like %innocent%**

In [9]:
%sql select count(*) from executions where last_statement like '%innocent%'

 * sqlite:///tx_deathrow_small.db
Done.

[(31,)]

**Long Tails**

Long tails refer to small numbers of samples which occur a large number of times. When we plot these out, they form a small sliver far to the right of the center of mass which looks like a tail. Long tails indicate the presence of outliers whose unusual behaviors may be of interest to us.

<img src="https://selectstarsql.com/imgs/execution_tail.png" width="500" height="500">

In context of Texas executions, the long tail refers to a small number of counties which have been known to conduct a large number of executions. Let’s find the percentage of executions from each county so that we can pick out the ones in the tail.Let’s find the percentage of executions from each county so that we can pick out the ones in the tail.

The Beazley chapter dealt with individual rows of data, but it’s clear that we need to do some aggregation to find county-level data. The Claims of Innocence chapter taught us aggregation, but those functions would end up aggregating the dataset into one row when we really want one row per county.

**The GROUP BY Block**

This is where the GROUP BY block comes in. It allows us to split up the dataset and apply aggregate functions within each group, resulting in one row per group. Its most basic form is GROUP BY <column>, <column>, ... and comes after the WHERE block.

**Find number of Executions by each county sorted by the highest? Name the count as “county_executions”**

In [105]:
%sql select count(ex_number) as county_executions, county from executions group by county order by county desc limit 3

 * sqlite:///tx_deathrow_small.db
Done.

[(1, 'Wood'), (3, 'Williamson'), (2, 'Wilbarger')]

In [102]:
# %sql select ex_number, county from executions group by county order by ex_number desc limit 3 
%sql select count(county) from executions  group by county limit 3

 * sqlite:///tx_deathrow_small.db
Done.

[(4,), (1,), (1,)]

**Modify this query to find the number of executions from each county with and without a last statement? Hint: Rowwise Last Execution Statement**

In [93]:
%sql select count(*) as numberOfExecutions, county  from executions where last_statement is null group by county

 * sqlite:///tx_deathrow_small.db
Done.

[(1, 'Bell'),
 (9, 'Bexar'),
 (1, 'Brazoria'),
 (2, 'Brazos'),
 (1, 'Chambers'),
 (1, 'Collin'),
 (6, 'Dallas'),
 (2, 'Denton'),
 (1, 'El Paso'),
 (2, 'Fort Bend'),
 (3, 'Galveston'),
 (1, 'Gillespie'),
 (2, 'Gregg'),
 (1, 'Hamilton'),
 (1, 'Hardin'),
 (33, 'Harris'),
 (1, 'Henderson'),
 (4, 'Jefferson'),
 (2, 'Johnson'),
 (1, 'Lee'),
 (1, 'Liberty'),
 (1, 'Lubbock'),
 (1, 'McLennan'),
 (3, 'Montgomery'),
 (2, 'Navarro'),
 (5, 'Nueces'),
 (1, 'Pecos'),
 (3, 'Potter'),
 (1, 'San Patricio'),
 (1, 'Shelby'),
 (6, 'Tarrant'),
 (1, 'Taylor'),
 (2, 'Travis'),
 (1, 'Upshur'),
 (1, 'Val Verde'),
 (1, 'Victoria'),
 (1, 'Walker'),
 (1, 'Wharton'),
 (2, 'Wilbarger')]

In [96]:
%sql select count(*) as numberOfExecutions, county  from executions where last_statement is not null group by county

 * sqlite:///tx_deathrow_small.db
Done.

[(4, 'Anderson'),
 (1, 'Aransas'),
 (1, 'Atascosa'),
 (1, 'Bailey'),
 (1, 'Bastrop'),
 (2, 'Bee'),
 (2, 'Bell'),
 (37, 'Bexar'),
 (5, 'Bowie'),
 (3, 'Brazoria'),
 (10, 'Brazos'),
 (1, 'Brown'),
 (1, 'Caldwell'),
 (6, 'Cameron'),
 (3, 'Cherokee'),
 (1, 'Clay'),
 (6, 'Collin'),
 (2, 'Comal'),
 (1, 'Coryell'),
 (1, 'Crockett'),
 (52, 'Dallas'),
 (1, 'Dawson'),
 (4, 'Denton'),
 (2, 'El Paso'),
 (2, 'Ellis'),
 (3, 'Fort Bend'),
 (1, 'Freestone'),
 (3, 'Galveston'),
 (3, 'Grayson'),
 (3, 'Gregg'),
 (2, 'Hale'),
 (95, 'Harris'),
 (1, 'Harrison'),
 (1, 'Henderson'),
 (6, 'Hidalgo'),
 (1, 'Hopkins'),
 (1, 'Houston'),
 (4, 'Hunt'),
 (11, 'Jefferson'),
 (1, 'Jones'),
 (1, 'Kaufman'),
 (1, 'Kendall'),
 (3, 'Kerr'),
 (1, 'Kleberg'),
 (2, 'Lamar'),
 (2, 'Leon'),
 (2, 'Liberty'),
 (1, 'Llano'),
 (12, 'Lubbock'),
 (1, 'Madison'),
 (2, 'Matagorda'),
 (6, 'McLennan'),
 (1, 'Milam'),
 (12, 'Montgomery'),
 (1, 'Morris'),
 (1, 'Nacogdoches'),
 (4, 'Navarro'),
 (1, 'Newton'),
 (11, 'Nueces'),
 (2, 'Parker'),
 (1, 'Pecos'),
 (2, 'Polk'),
 (7, 'Potter'),
 (3, 'Randall'),
 (2, 'Red River'),
 (2, 'Refugio'),
 (1, 'Sabine'),
 (1, 'San Jacinto'),
 (1, 'Scurry'),
 (12, 'Smith'),
 (35, 'Tarrant'),
 (4, 'Taylor'),
 (3, 'Tom Green'),
 (6, 'Travis'),
 (1, 'Trinity'),
 (1, 'Victoria'),
 (2, 'Walker'),
 (2, 'Wichita'),
 (3, 'Williamson'),
 (1, 'Wood')]

**Perform Above Query with a CASE WHEN Solution in Columnar Approach**

In [113]:
%sql select count(*), county, case when last_statement is null then "NO last statement" when last_statement is not null THEN "Last statement is given" end as Last_Statement from executions group by county

 * sqlite:///tx_deathrow_small.db
Done.

[(4, 'Anderson', 'Last statement is given'),
 (1, 'Aransas', 'Last statement is given'),
 (1, 'Atascosa', 'Last statement is given'),
 (1, 'Bailey', 'Last statement is given'),
 (1, 'Bastrop', 'Last statement is given'),
 (2, 'Bee', 'Last statement is given'),
 (3, 'Bell', 'Last statement is given'),
 (46, 'Bexar', 'NO last statement'),
 (5, 'Bowie', 'Last statement is given'),
 (4, 'Brazoria', 'Last statement is given'),
 (12, 'Brazos', 'Last statement is given'),
 (1, 'Brown', 'Last statement is given'),
 (1, 'Caldwell', 'Last statement is given'),
 (6, 'Cameron', 'Last statement is given'),
 (1, 'Chambers', 'NO last statement'),
 (3, 'Cherokee', 'Last statement is given'),
 (1, 'Clay', 'Last statement is given'),
 (7, 'Collin', 'Last statement is given'),
 (2, 'Comal', 'Last statement is given'),
 (1, 'Coryell', 'Last statement is given'),
 (1, 'Crockett', 'Last statement is given'),
 (58, 'Dallas', 'Last statement is given'),
 (1, 'Dawson', 'Last statement is given'),
 (6, 'Denton', 'Last statement is given'),
 (3, 'El Paso', 'NO last statement'),
 (2, 'Ellis', 'Last statement is given'),
 (5, 'Fort Bend', 'NO last statement'),
 (1, 'Freestone', 'Last statement is given'),
 (6, 'Galveston', 'NO last statement'),
 (1, 'Gillespie', 'NO last statement'),
 (3, 'Grayson', 'Last statement is given'),
 (5, 'Gregg', 'NO last statement'),
 (2, 'Hale', 'Last statement is given'),
 (1, 'Hamilton', 'NO last statement'),
 (1, 'Hardin', 'NO last statement'),
 (128, 'Harris', 'Last statement is given'),
 (1, 'Harrison', 'Last statement is given'),
 (2, 'Henderson', 'Last statement is given'),
 (6, 'Hidalgo', 'Last statement is given'),
 (1, 'Hopkins', 'Last statement is given'),
 (1, 'Houston', 'Last statement is given'),
 (4, 'Hunt', 'Last statement is given'),
 (15, 'Jefferson', 'NO last statement'),
 (2, 'Johnson', 'NO last statement'),
 (1, 'Jones', 'Last statement is given'),
 (1, 'Kaufman', 'Last statement is given'),
 (1, 'Kendall', 'Last statement is given'),
 (3, 'Kerr', 'Last statement is given'),
 (1, 'Kleberg', 'Last statement is given'),
 (2, 'Lamar', 'Last statement is given'),
 (1, 'Lee', 'NO last statement'),
 (2, 'Leon', 'Last statement is given'),
 (3, 'Liberty', 'NO last statement'),
 (1, 'Llano', 'Last statement is given'),
 (13, 'Lubbock', 'Last statement is given'),
 (1, 'Madison', 'Last statement is given'),
 (2, 'Matagorda', 'Last statement is given'),
 (7, 'McLennan', 'Last statement is given'),
 (1, 'Milam', 'Last statement is given'),
 (15, 'Montgomery', 'NO last statement'),
 (1, 'Morris', 'Last statement is given'),
 (1, 'Nacogdoches', 'Last statement is given'),
 (6, 'Navarro', 'NO last statement'),
 (1, 'Newton', 'Last statement is given'),
 (16, 'Nueces', 'Last statement is given'),
 (2, 'Parker', 'Last statement is given'),
 (2, 'Pecos', 'Last statement is given'),
 (2, 'Polk', 'Last statement is given'),
 (10, 'Potter', 'Last statement is given'),
 (3, 'Randall', 'Last statement is given'),
 (2, 'Red River', 'Last statement is given'),
 (2, 'Refugio', 'Last statement is given'),
 (1, 'Sabine', 'Last statement is given'),
 (1, 'San Jacinto', 'Last statement is given'),
 (1, 'San Patricio', 'NO last statement'),
 (1, 'Scurry', 'Last statement is given'),
 (1, 'Shelby', 'NO last statement'),
 (12, 'Smith', 'Last statement is given'),
 (41, 'Tarrant', 'Last statement is given'),
 (5, 'Taylor', 'Last statement is given'),
 (3, 'Tom Green', 'Last statement is given'),
 (8, 'Travis', 'Last statement is given'),
 (1, 'Trinity', 'Last statement is given'),
 (1, 'Upshur', 'NO last statement'),
 (1, 'Val Verde', 'NO last statement'),
 (2, 'Victoria', 'NO last statement'),
 (3, 'Walker', 'Last statement is given'),
 (1, 'Wharton', 'NO last statement'),
 (2, 'Wichita', 'Last statement is given'),
 (2, 'Wilbarger', 'NO last statement'),
 (3, 'Williamson', 'Last statement is given'),
 (1, 'Wood', 'Last statement is given')]

**Count the number of inmates aged 50 or older that were executed in each county? Use “where” method.**

In [70]:
%sql select count(*) , county from executions where ex_age >=50 group by county

 * sqlite:///tx_deathrow_small.db
Done.

[(1, 'Anderson'),
 (2, 'Bexar'),
 (1, 'Caldwell'),
 (1, 'Cameron'),
 (2, 'Collin'),
 (1, 'Comal'),
 (11, 'Dallas'),
 (2, 'Galveston'),
 (1, 'Grayson'),
 (2, 'Gregg'),
 (21, 'Harris'),
 (1, 'Henderson'),
 (1, 'Houston'),
 (2, 'Jefferson'),
 (1, 'Johnson'),
 (2, 'Lamar'),
 (1, 'Lee'),
 (3, 'Lubbock'),
 (1, 'McLennan'),
 (5, 'Montgomery'),
 (1, 'Navarro'),
 (1, 'Newton'),
 (1, 'Pecos'),
 (1, 'Potter'),
 (1, 'San Jacinto'),
 (2, 'Smith'),
 (4, 'Tarrant'),
 (1, 'Travis'),
 (1, 'Upshur'),
 (1, 'Walker'),
 (1, 'Wichita'),
 (1, 'Wood')]

**List the counties in which more than 2 inmates aged 50 or older have been executed. Hint Use Having**

In [77]:
%sql select county from executions where ex_age >= 50 group by county having count(*) >2

 * sqlite:///tx_deathrow_small.db
Done.

[('Dallas',), ('Harris',), ('Lubbock',), ('Montgomery',), ('Tarrant',)]

**Find the first and last name of the the inmate with the longest last statement (by character count).**

In [81]:
%sql select first_name, last_name from executions where length(last_statement) = (select(max(length(last_statement))) from executions)

 * sqlite:///tx_deathrow_small.db
Done.

[('Gary', 'Graham')]

**Find the percentage of executions from each county.**

In [88]:
%sql select county, 100.0 * COUNT(*) / (select count(*) from executions) as PERCENTAGE from executions group by county order by PERCENTAGE

 * sqlite:///tx_deathrow_small.db
Done.

[('Aransas', 0.18083182640144665),
 ('Atascosa', 0.18083182640144665),
 ('Bailey', 0.18083182640144665),
 ('Bastrop', 0.18083182640144665),
 ('Brown', 0.18083182640144665),
 ('Caldwell', 0.18083182640144665),
 ('Chambers', 0.18083182640144665),
 ('Clay', 0.18083182640144665),
 ('Coryell', 0.18083182640144665),
 ('Crockett', 0.18083182640144665),
 ('Dawson', 0.18083182640144665),
 ('Freestone', 0.18083182640144665),
 ('Gillespie', 0.18083182640144665),
 ('Hamilton', 0.18083182640144665),
 ('Hardin', 0.18083182640144665),
 ('Harrison', 0.18083182640144665),
 ('Hopkins', 0.18083182640144665),
 ('Houston', 0.18083182640144665),
 ('Jones', 0.18083182640144665),
 ('Kaufman', 0.18083182640144665),
 ('Kendall', 0.18083182640144665),
 ('Kleberg', 0.18083182640144665),
 ('Lee', 0.18083182640144665),
 ('Llano', 0.18083182640144665),
 ('Madison', 0.18083182640144665),
 ('Milam', 0.18083182640144665),
 ('Morris', 0.18083182640144665),
 ('Nacogdoches', 0.18083182640144665),
 ('Newton', 0.18083182640144665),
 ('Sabine', 0.18083182640144665),
 ('San Jacinto', 0.18083182640144665),
 ('San Patricio', 0.18083182640144665),
 ('Scurry', 0.18083182640144665),
 ('Shelby', 0.18083182640144665),
 ('Trinity', 0.18083182640144665),
 ('Upshur', 0.18083182640144665),
 ('Val Verde', 0.18083182640144665),
 ('Wharton', 0.18083182640144665),
 ('Wood', 0.18083182640144665),
 ('Bee', 0.3616636528028933),
 ('Comal', 0.3616636528028933),
 ('Ellis', 0.3616636528028933),
 ('Hale', 0.3616636528028933),
 ('Henderson', 0.3616636528028933),
 ('Johnson', 0.3616636528028933),
 ('Lamar', 0.3616636528028933),
 ('Leon', 0.3616636528028933),
 ('Matagorda', 0.3616636528028933),
 ('Parker', 0.3616636528028933),
 ('Pecos', 0.3616636528028933),
 ('Polk', 0.3616636528028933),
 ('Red River', 0.3616636528028933),
 ('Refugio', 0.3616636528028933),
 ('Victoria', 0.3616636528028933),
 ('Wichita', 0.3616636528028933),
 ('Wilbarger', 0.3616636528028933),
 ('Bell', 0.5424954792043399),
 ('Cherokee', 0.5424954792043399),
 ('El Paso', 0.5424954792043399),
 ('Grayson', 0.5424954792043399),
 ('Kerr', 0.5424954792043399),
 ('Liberty', 0.5424954792043399),
 ('Randall', 0.5424954792043399),
 ('Tom Green', 0.5424954792043399),
 ('Walker', 0.5424954792043399),
 ('Williamson', 0.5424954792043399),
 ('Anderson', 0.7233273056057866),
 ('Brazoria', 0.7233273056057866),
 ('Hunt', 0.7233273056057866),
 ('Bowie', 0.9041591320072333),
 ('Fort Bend', 0.9041591320072333),
 ('Gregg', 0.9041591320072333),
 ('Taylor', 0.9041591320072333),
 ('Cameron', 1.0849909584086799),
 ('Denton', 1.0849909584086799),
 ('Galveston', 1.0849909584086799),
 ('Hidalgo', 1.0849909584086799),
 ('Navarro', 1.0849909584086799),
 ('Collin', 1.2658227848101267),
 ('McLennan', 1.2658227848101267),
 ('Travis', 1.4466546112115732),
 ('Potter', 1.8083182640144666),
 ('Brazos', 2.1699819168173597),
 ('Smith', 2.1699819168173597),
 ('Lubbock', 2.3508137432188065),
 ('Jefferson', 2.7124773960216997),
 ('Montgomery', 2.7124773960216997),
 ('Nueces', 2.8933092224231465),
 ('Tarrant', 7.414104882459313),
 ('Bexar', 8.318264014466546),
 ('Dallas', 10.488245931283906),
 ('Harris', 23.146473779385172)]

**Harris County**

Is it surprising that Harris (home to the city of Houston), Dallas, Bexar and Tarrant account for about 50% of all executions in Texas